#catchBall {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    position: relative;
    background-color: bisque;
}

.btn {
    width:200px;
    height:50px;
    border: 1px solid black;
    font-size: 30px;
    text-align: center;
}

.timer {
    width:100px;
    height:30px;
    border: 1px solid black;
    font-size: 30px;
    text-align: right;
}

#move{
    width:200px; height:50px;
    font-size:30px;
}

.ball {
    position: absolute;
    z-index: 10;
    width: 40px;
    height: 40px;
    margin-left: -20px;
    margin-top: -20px;
    background-color: cornflowerblue;
    border: 1px solid darkcyan;
    text-align: center;
    padding: 0px;
    border-radius: 50%;
    cursor: pointer;
}

.ball.off {
    z-index: 1;
    background-color: gray;
}